<header ng-include="'view/nav.html'"></header>
<section class="container">
    <div class="jumbotron row colorDefault">

        <div class="row bs-wizard" style="border-bottom:0;">
            <!-- options: complete - active - disabled -->
            <div class="col-xs-3 bs-wizard-step" ng-class="stepDadosGerais">
                <div class="text-center bs-wizard-stepnum">Dados Gerais</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            
            <div class="col-xs-3 bs-wizard-step" ng-class="stepVideos"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">Selecionar vídeos</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            
            <div class="col-xs-3 bs-wizard-step" ng-class="stepPerguntas"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">Inserir perguntas</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            
            <div class="col-xs-3 bs-wizard-step" ng-class="stepFinalizar"><!-- active -->
                <div class="text-center bs-wizard-stepnum">Finalizar</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
        </div>

        <!-- Dados gerais sobre a aula -->
        <div ng-show="step1">
            <form name="formDadosGerais" class="col-sm-8 col-sm-offset-2">

                <div class="row text-center" style="margin-bottom: 20px; margin-top: -20px">
                    <h2>Dados gerais sobre a aula</h2>
                </div>

                <div class="form-group">
                    <label class="control-label">Qual disciplina?</label>
                    <input class="form-control" name="disciplina" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" >Qual conteúdo geral?</label>
                    <input class="form-control" name="contGeral"  type="text">    
                </div>
                <div class="form-group">
                    <label class="control-label" >Qual conteúdo específico?</label>
                    <input class="form-control"  name="contEspec" type="text">    
                </div>
                <div class="form-group">
                    <label class="control-label">Escreva qual objetivo da aula para seu aluno</label>
                    <div>
                        <textarea class="form-control" rows="3" name="objetivo" type="text"></textarea>
                    </div>
                </div>
                <div class="text-right" style="margin-top: 30px">
                    <button class="btn btn-success" ng-disabled="formDadosGerais.$invalid" ng-click="avancarStep1()">Próximo &rarr;</button>
                </div>
               
            </form>

        </div>       
        
        <!-- Escolha de videos -->
        <div ng-show="step2">

            <div class="row text-center" style="margin-bottom: 20px; margin-top: -20px">
                <h2>Escolha alguns vídeos</h2>
            </div>

            <div class="form-group">
            <label class="control-label">Encontre videos relacionados a sua aula</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="palavraChave">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="buscarVideos(palavraChave)">Pesquisar</button>
                </span>
            </div>
            </div>

             <div ng-show="viewVideos"> 
        
                <div class="container testimonial-group" style="background-color: transparent; margin-top:50px;">
                    <div class="row text-center" id="style-3" style="height: 300px">
                        <div class="col-xs-4" ng-repeat="video in listaVideosView">
                            <div class=" text-center grow1" style="margin-top:0px; margin-bottom: 10px; cursor: pointer;" data-toggle="modal" data-target="#videoModal">
                                <iframe width="310" height="200" ng-src="{{trustSrc(video)}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <button class="btn btn-primary" ng-click="adicionarVideo(video)">Adicionar</button>
                        </div>
                    
                    </div>
                </div>

            </div>

            <div ng-if="viewVideosAdd">
                <div style="margin-top:50px;">
                    <label class="control-label">Selecionados</label>
                </div>
                
                <div class="container testimonial-group" style="background-color: white;">
                    <div class="row" id="style-3" style="height: 200px;padding: 20px;">
                        <div class="col-xs-2" ng-repeat="video in listaAdicionados">
                            <div class="text-center grow1" style="margin-top:0px; margin-bottom: 10px; cursor: pointer;" data-toggle="modal" data-target="#videoModal">
                                <iframe width="150" height="100" ng-src="{{trustSrc(video)}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-danger">remover</button>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="text-right" style="margin-top: 30px">
                    <button class="btn btn-success" ng-click="avancarStep2()">Próximo &rarr;</button>
                </div>
                

                
            </div>

            

        </div>

        <!-- Inserir perguntas -->
        <div ng-show="step3">
            <div class="text-center">
                <h2>Construa suas perguntas</h2>
            </div>
            <div class="row">
                <div style="margin-bottom: 40px">
                    <h3>Questão {{numQuestao}}</h3>
                </div>
               <div class="form-group">
                    <label class="control-label">Qual é a questão?</label>
                    <div>
                        <textarea ng-model="estruturaQuestao.question" class="form-control" rows="2" name="objetivo" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label colorGreen">Resposta correta</label>
                    <div>
                        <textarea ng-model="estruturaQuestao.options[0]" class="form-control" rows="1" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label colorRed">Resposta incorreta</label>
                    <div>
                        <textarea ng-model="estruturaQuestao.options[1]" class="form-control" rows="1" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label colorRed">Resposta incorreta</label>
                    <div>
                        <textarea ng-model="estruturaQuestao.options[2]" class="form-control" rows="1" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label colorRed">Resposta incorreta</label>
                    <div>
                        <textarea ng-model="estruturaQuestao.options[3]" class="form-control" rows="1" type="text"></textarea>
                    </div>
                </div>

                <div style="margin-top: 30px">
                    <button class="btn btn-warning" style="margin-right: 15px; width: 200px" ng-click="novaQuestao();">+ Nova questão</button>
                    <button class="btn btn-info" style="width: 200px" data-toggle="modal" data-target="#questionsModal">Perguntas cadastradas</button>
                    <button class="btn btn-success pull-right" style="width: 200px" ng-click="avancarStep3()">Finalizar</button>
                </div>
            </div>
                

        </div>

        <div ng-show="step4">
            <div class="text-center" style="margin-top: 50px">
                <h2>Aula criada! O Token dela é 07082017123</h2>
            </div>
        </div>

        <!-- Modal Video-->
        <div class="modal fade" id="questionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document" style="width: 850px">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click=""><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                
                <div data-ng-repeat="questao in arrayPerguntas">
                    <p ng-bind="questao.question"></p>
                </div>
                
            </div>
            <div class="modal-footer" style="text-align: center">
               
            </div>
            </div>
        </div>
        </div>
    

</section>