body {
    background-color: #eeeeee;
}

.navbar-default {
    padding: 15px;
}

.navbar-inverse-aluno{
    background-color: #65b509;
    border-color: transparent;
}

.navbar-inverse-professor{
    background-color: #2774e3;
    border-color: transparent;
}


.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 170%;
    padding: 15px;
    width: auto;
    position: relative;
    top: -15px;
}

.tamanhoBt-alunoProfessor{
    width: 50%
}

.colorProfessor{
    color:#2774e3; 
}

.colorAluno{
    color:#65b509;  
}

.grow:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

#professorModal{
    margin-top: 100px;
}

#alunoModal{
    margin-top:150px;
}

.paddingLeftRight100px{
    padding-left: 100px;
    padding-right: 100px; 
}

.linkCadastrar{
    color: #2780e3;
    position: relative;
    right: 44px;
    top: 0px;
}
