@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

body {
    background-color: #eeeeee;

}

.navbar-default {
    padding: 15px;
    background-color: #fbb62c;
    border-color: transparent;
}

.navbar-inverse-aluno{
    background-color: #65b509;
    border-color: transparent;
}

.navbar-inverse-professor{
    background-color: #2774e3;
    border-color: transparent;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 170%;
    padding: 15px;
    width: auto;
    position: relative;
    top: -15px;
}

.tamanhoBt-alunoProfessor{
    width: 50%
}

.colorProfessor{
    color:#2774e3; 
}

.colorAluno{
    color:#65b509;  
}

.colorDefault{
    color:#6d6d6d;
     text-shadow: 0 0 5px white;
}

.grow:hover{
    -webkit-transform: scale(1.1) 1s ease-out;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer; 
}

.grow1:hover{
    -webkit-transform: scale(1.05) 1s ease-out;
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer; 
}

#professorModal{
    margin-top: 100px;
}

#alunoModal{
    margin-top:100px;
}

.paddingLeftRight100px{
    padding-left: 100px;
    padding-right: 100px; 
}

.linkCadastrar{
    color: #2780e3;
    position: relative;
    right: 44px;
    top: 0px;
}

.fundoTransp-div{
    background: rgba(255, 255, 255, .7);
    border-radius: 20px
}

.shadowBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadowText{
    text-shadow: 2px 1px 10px white;
}

.setaEsquerda{
    position: absolute;
    max-width: 90px;
    right: 210px;
    top: 30px;
}

.setaDireita{
    position: absolute;
    max-width: 90px;
    left: 210px;
    top: 30px;
}

.borderPlay{
    text-shadow: 3px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}


/*
 *  STYLE 15
 */

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: #e6e6e6;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, 40% 0%,75% 84%,from(#4D9C41),to(#19911D),color-stop(.6,#54DE5D))
}

/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #8fff6b;
    
}

.selectResposta{
  background: green;
}

