<header ng-include="'view/nav.html'"></header>
<section class="container">
    <div class="jumbotron">

        <!-- Botões Icons Professor e Aluno-->
        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6 text-center colorProfessor">
                <div><i class="fa fa-user-circle grow" aria-hidden="true" data-toggle="modal" data-target="#professorModal"
                style="font-size:250px; "></i></div>
                <div><span style="font-size:50px">Professor</span></div>            
            </div>
            <div class="col-xs-6 text-center colorAluno">
                <div><i class="fa fa-user-circle grow" aria-hidden="true" data-toggle="modal" data-target="#alunoModal"
                style="font-size:250px"></i></div>
                <div><span style="font-size:50px">Aluno</span></div>             
            </div>
        </div>
        

        <!-- Modal Login Professor-->
        <div class="modal fade" id="professorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel" style="text-align: center">Acesso EduQ</h1>
            </div>
            <div class="modal-body paddingLeftRight100px">
                <div class="form-group"> 
                    <label class="control-label" for="usuarioProfessor">Usuário</label>
                    <input class="form-control" id="usuarioProfessor" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="senhaProfessor">Senha</label>
                    <input class="form-control" id="senhaProfessor" type="password">
                </div>
            </div>
            <div class="modal-footer paddingLeftRight100px">
                <a class="linkCadastrar" href="">Não é cadastrado? Se cadastre agora!</a>
                <button type="button" class="btn btn-primary" ng-click="viewProfessor()">Acessar</button>
            </div>
            </div>
        </div>
        </div>

        <!-- Modal Login Aluno-->
        <div class="modal fade" id="alunoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel" style="text-align: center">Acesso EduQ</h1>
            </div>
            <div class="modal-body paddingLeftRight100px">
                <div class="form-group"> 
                    <label class="control-label" for="usuarioAluno">Token da Aula</label>
                    <input class="form-control" id="usuarioAluno" type="text">
                </div>
            </div>
            <div class="modal-footer paddingLeftRight100px" style="text-align: center">
                <button type="button" class="btn btn-primary" ng-click="viewAluno()">Acessar Aula</button>
            </div>
            </div>
        </div>
        </div>

        

    </div>
</section>