<header ng-include="'view/nav.html'"></header>
<section class="container">
    <div class="jumbotron">

        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6 text-right ">
                <a href="#!aluno" role="button"> <img class="tamanhoBt-alunoProfessor" src="../img/button/bt-aluno.png" alt=""> </a>
            </div>
            <div class="col-xs-6 text-left ">
                <a href="#!professor" role="button"><img class="tamanhoBt-alunoProfessor" src="../img/button/bt-professor.png" alt=""></a>
            </div>
        </div>
        
    </div>
</section>