<header ng-include="'view/nav.html'"></header>
<section class="container">
    <div class="jumbotron">
    <div class="row text-center">
        <h2>
            Olá professor, assista um breve vídeo tutorial para aprender a utilizar o sistema e 
            aproveitar ao máximo todas as funcionalidades.
        </h2>
        <div class="col-sm-6 col-sm-offset-3 text-center">
        <div class="embed-responsive embed-responsive-16by9" style="background-color:gray; margin-top:30px">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E8NlU_07XRI?disablekb=1"></iframe>
        </div>
        </div>
        
    </div> 
    </div>
    

</section>